<%- include("partials/header.ejs") %>
<div class="container">
    <h1>Things to do for today</h1>
    <form action="/add" method="post" style="display: inline;">
        <input type="text" name="newTask" class="user-input">
        <div class="actions">
            <button type="submit" class="add">Add</button>
    </form>
    <form action="/delete" method="post" id="formdelete">
        <button type="submit" class="done">Done</button>
</div>
<div class="tasks">
    <ul>
        <% for (var i=0; i < tasks.length; i++) { %>
        <li class="taskList" id="taskList-<%= i %>">
            <input type="checkbox" name="tasksToDelete" value="<%= tasks[i] %>" class="checkbox-round" id="task-<%= i %>">
            <label for="task-<%= i %>">
                <%= tasks[i] %>
            </label>
        </li>
        <% } %>
    </ul>
</div>
</form>
</div>
<%- include("partials/footer.ejs") %>